# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
AWS_EC2_DEPLOYMENT.md
DEPLOYMENT.md
*.sqlite3
NEON_DEPLOYMENT.md
PRODUCTION_GUIDE.md
PROJECT_SUMMARY.md
frontend/

# env files (can opt-in for committing if needed)
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*__tests__/*
*__pycache__
.env